.cards {
  margin-top: 60px;
  margin-left:auto;
  margin-right:auto;
  width: 920px;
  text-align: center;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 60px;
  }