.khan__book-pic {
  height: 608px;
  width: 620px;
  margin-right: 48px;
  }
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  }